name: GitHub-Profile-3D-Contrib

on:
  schedule:
    - cron: "0 18 * * *"  # 这是每天自动运行的时间
  workflow_dispatch:      # 这允许你手动点击按钮运行

permissions:
  contents: write         # 这一行非常重要，允许机器人修改你的仓库

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib
    steps:
      - uses: actions/checkout@v4
      - uses: yoshi389111/github-profile-3d-contrib@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Commit & Push
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add -A .
          # 如果有变化才提交，避免报错
          git diff --staged --quiet || git commit -m "generated"
          git push
